<form class="form" [formGroup]="registerForm" (ngSubmit)="submitRegistration()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nickname</mat-label>
    <input matInput minlength="2" required placeholder="anonym" formControlName="nickname" />
    <mat-error *ngIf="nickname?.errors?.['required']">Nickname is required</mat-error>
    <mat-error *ngIf="nickname?.errors?.['minlength']">Min length is 2 symbol</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email address</mat-label>
    <input type="email" required [pattern]="emailRegexp" matInput placeholder="email@address.example" formControlName="email" />
    <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
    <mat-error *ngIf="email?.errors?.['pattern']">Incorrect email</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      minlength="6"
      required
      type="password"
      matInput
      placeholder="create password (min 6 symbol)"
      formControlName="password"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password confirmation</mat-label>
    <input required type="password" matInput placeholder="repeate password" formControlName="repeatedPassword" />
    <mat-error *ngIf="repeatedPassword?.errors?.['required']">Confirmation is required</mat-error>
    <mat-error *ngIf="repeatedPassword?.value !== password?.value">Incorrect repeated password</mat-error>
  </mat-form-field>
  <mat-checkbox class="example-margin" formControlName="isPsychologist">I am psychologist</mat-checkbox>

  <button type="submit" mat-raised-button color="accent">Accent</button>
</form>
